<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人脸比对</title>
</head>
<body>
    <div id="father_1" style="padding: 2em;width: 100%;height: 400px;float: left">
        <div id="child_1" style="width: 45%;height: 100%;float: left">
            <div id="image1" style="width: 100%;height: 90%; border-style: solid;border-color: yellow;">

            </div>
            <input type="file" id="input_1" style="margin-left: 45%" >

        </div>
        <div id="child_2" style="width: 45%;height: 100%;float: left">
            <div id="image2" style="width: 100%;height: 90%; border-style: solid;border-color: yellow">

            </div>
            <input type="file" id="input_2" style="margin-left: 45%" >
        </div>
    </div>
<input type="submit" value="比较">
<div id="father_2">

</div>
<script>
    var image1=document.getElementById("image1");
    var image2=document.getElementById("image2");
    var image1_base64
    var image2_base64
    var submit1=document.getElementById("input_1");
    var submit2=document.getElementById("input_2");
    var faceresult=document.getElementById("father_2")
    if(typeof FileReader==='undefined'){
    alert( "抱歉，你的浏览器不支持 FileReader");
    submit1.setAttribute('disabled','disabled');
        submit2.setAttribute('disabled','disabled');
}else{
    submit1.addEventListener('change',function(){readFile(submit1,image1);},false);
        submit2.addEventListener('change',function(){readFile(submit2,image2);},false);
}

    function readFile(inputfile,inputhandle){
    var file = inputfile.files[0];
    if(!/image\/\w+/.test(file.type)){
        alert("文件必须为图片！");
        return false;
    }
    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function(e){
        inputhandle.innerHTML = '<img src="'+this.result+'" alt="" style="width: 100%;height: 100%"/ >';
        image1_base64=e.target.result;
        faceresult.innerHTML=image1_base64
    }
        var xmlhttp=new XMLHttpRequest();
        xmlhttp.open("POST",'/api/facecompare',true)
        xmlhttp.setRequestHeader("Content-type","application/json;charset=UTF-8")
        xmlhttp.send(image1_base64)
}

</script>

</body>
</html>